<div class="container mt-5">
  <div class="featured-cars mt-5">
    <h3 class="section-title text-center">Ponuda Vozila</h3>
    <div class="row justify-content-center">
      <div *ngFor="let car of cars" class="col-md-4">
        <div class="car-card">
          <img [src]="car.slika" class="car-img" alt="{{ car.marka }} {{ car.model }}">
          <div class="car-details">
            <h5 class="car-title">{{ car.marka }} {{ car.model }}</h5>
            <p class="car-info">Godina: {{ car.godina }}  |  {{car.kilometri}} Km</p>
            <p class="car-price"><strong>{{ car.cijena | euroCurrency}}</strong></p>
            <button [routerLink]="['/car-page', car.id]" class="btn btn-warning">Detalji</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>