<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
  <div class="hero">
    <div class="jumbotron text-center  text-white p-5 rounded">
      <h1 class="display-4">Dobrodošli na CarMarket!</h1>
      <p class="lead">Pronađite savršen automobil po najboljoj cijeni.</p>
      <a (click)="ponuda()" class="btn btn-primary btn-lg">Pregledaj ponudu vozila</a>
    </div>
  </div>
<div class="container mt-5">
  <div class="featured-cars mt-5">
    <h3 class="section-title text-center">Istaknuti Automobili</h3>
    <div class="row justify-content-center">
      <div *ngFor="let car of top3Cars" class="col-md-4">
        <div class="car-card">
          <img [src]="car.slika" class="car-img" alt="{{ car.marka }} {{ car.model }}">
          <div class="car-details">
            <h5 class="car-title">{{ car.marka }} {{ car.model }}</h5>
            <p class="car-info">Godina: {{ car.godina }} | {{car.kilometri}} Km</p>
            <p class="car-price"><strong>{{ car.cijena | euroCurrency}}</strong></p>
            <button [routerLink]="['/car-page', car.id]" class="btn btn-warning">Detalji</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <section class="why-choose-us">
    <h3>Zašto odabrati nas?</h3>
    <div class="row">
      <div class="col-md-3">
        <i class="fas fa-car"></i>
        <h5>Široka Ponuda</h5>
        <p>Veliki izbor kvalitetnih automobila za svačiji budžet.</p>
      </div>
      <div class="col-md-3">
        <i class="fas fa-shield-alt"></i>
        <h5>Sigurna Kupovina</h5>
        <p>Provjereni prodavači i transparentna povijest vozila.</p>
      </div>
      <div class="col-md-3">
        <i class="fas fa-money-bill-wave"></i>
        <h5>Povoljne Cijene</h5>
        <p>Najbolji omjer cijene i kvalitete na tržištu.</p>
      </div>
    </div>
  </section>
  
  
  



