
    <nav class="navbar">
        <div class="container">
          <div class="brand">
            <a href="/"><img src="images/logo.webp" alt="logo" class="logo"></a>
            <a href="/" style="text-decoration: none; color: white;"><h2>CarMarket</h2></a>
          </div>
          <ul class="nav-links">
            <li><a routerLink="/">Početna</a></li>
            <li><a routerLink="ponuda">Ponuda Vozila</a></li>      
            <li><a routerLink="profil/1">Moj Profil</a></li>

            <li *ngIf="!auth.isLoggedIn()"><a routerLink="prijava">Sign In</a></li>
            <li *ngIf="auth.isLoggedIn()" (click)="logout()"><a>Log Out</a></li>
          </ul>
    
        </div>
    </nav>

