
<body>
    <div class="container" *ngIf="car">
        <div class="gallery">
            <div class="main-image">
                <img [src]="car.slika" alt="Slika automobila">
            </div>
        </div>
        <div class="details">
            <div>
                <h1>{{car.marka}} {{car.model}}</h1>
                <p><strong>Godina:</strong> {{car.godina}}</p>
                <p><strong>Prijeđena kilometraža:</strong> {{car.kilometri}} km</p>
                <p><strong>Snaga motora:</strong> {{car.snaga}} KS</p>
                <p><strong>Zapremnina motora:</strong> {{car.motor}} cm³</p>
            </div>
            <div>
                <p><strong>Tip goriva:</strong> {{car.gorivo}}</p>
                <p><strong>Mjenjač:</strong> {{car.mjenjac}}</p>
                <p><strong>Boja:</strong> {{car.boja}}</p>
                <p><strong>Pogon:</strong> {{car.pogon}}</p>
                <div class="price">Cijena: {{car.cijena | euroCurrency}}</div>
            </div>
            
        </div>
        <div>
            <label><strong>Način plaćanja:</strong></label>
            <select [(ngModel)]="nacinPlacanja">
                <option value="gotovina">Gotovina</option>
                <option value="kredit">Kredit</option>
                <option value="leasing">Leasing</option>
            </select>
        </div>
        <a (click)="confirmPurchase($event)" class="buy-btn">Kupi auto</a>
        
        <div class="button-container">
            <button (click)="editCar(car)" class="btn btn-warning" *ngIf="user?.id === 1">Uredi auto</button>
            <button (click)="deleteCar(car.id)" class="btn btn-danger" *ngIf="user?.id === 1">Obriši auto</button>
        </div>
          
    </div>
</body>